<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<body>
<h1>Sistema de incidencias IES Teis</h1>
<form action="/incidencia" method="post">
  <label for="aula">Aula</label>
  <input type="text" id="aula" name="aula"/>
  <label for="usuario">Usuario</label>
  <input type="text" id="usuario" name="usuario"/>
  <label for="descripcion">Descripcion</label>
  <textarea id="descripcion" name="descripcion"></textarea>
  <input type="submit" value="Enviar"/>
</form>
</body>

</html> 

